fastapi
uvicorn
sqlalchemy
aiosqlite
psycopg2-binary
pika
Jinja2
python-multipart
pydantic_settings
psycopg2
jose
passlib
fastapi-users
asyncpg
fastapi-users[sqlalchemy]
python-jose[cryptography]
passlib[bcrypt]
itsdangerous
pandas
openpyxl
xlrd==1.2.0
ujson
aiofiles
requests