:root {
    --primary-color: #f3e5d8;
    --secondary-color: #e6d0b8;
    --text-color: #4a4a4a;
    --button-color: #d4a977;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
    background-color: var(--secondary-color);
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* Отступы между кнопками */
    transition: all 0.3s ease;
}

.nav-button {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 11px 11px;
    border-radius: 4px;
    transition: all 0.3s ease;
    background-color: var(--button-color);
    color: white;
    text-align: center;
    max-width: 200px; /* Ограничение ширины кнопок */
}

.nav-button:hover {
    background-color: #c49665;
}

.p {
    text-align: center;
}

@media (max-width: 386px) {
    .nav-button {
        padding: 11px 10px;
    }
}

@media (max-width: 380px) {
    .nav-button {
        padding: 11px 9px;
    }
}

@media (max-width: 374px) {
    .nav-button {
        padding: 11px 8px;
    }
}

@media (max-width: 368px) {
    .nav-button {
        padding: 11px 7px;
    }
}

@media (max-width: 362px) {
    .nav-button {
        padding: 11px 6px;
    }
}

@media (max-width: 356px) {
    .nav-button {
        padding: 11px 5px;
    }
}

@media (max-width: 350px) {
    .nav-button {
        padding: 11px 4px;
    }
}

@media (max-width: 344px) {
    .nav-button {
        padding: 11px 3px;
    }
}

@media (max-width: 338px) {
    .nav-button {
        padding: 11px 2px;
    }
}

@media (max-width: 332px) {
    .nav-button {
        padding: 11px 1px;
    }
}

@media (max-width: 326px) {
    .nav-button {
        padding: 11px 0.1px;
    }
}

.error-message {
    color: var(--error-color);
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    padding: 1rem;
    border: 2px solid var(--error-color);
    border-radius: 8px;
    background-color: rgba(248, 75, 75, 0.288);
}

.error-description {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--text-color);
}