<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ОШИБКА</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/main/error.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="nav-button nav-button-left">Записаться</a>
            <a href="/profile/{{user}}" class="nav-button nav-button-center">Мой профиль</a>
            <a href="/pricelist" class="nav-button nav-button-right">Прайс-лист</a>
        </nav>
    </header>

    <main>
        <div class="error-message">Ошибка 404</div>
        <div class="error-description">
            Страница не найдена. Пожалуйста, проверьте адрес или вернитесь на <a href="/" style="color: var(--button-color); text-decoration: underline;">главную страницу</a>.
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
</body>
</html>

