<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Записаться к Eyelasmatun</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/app/static/css/main/main.css">
    <link rel="stylesheet" href="/app/static/css/main/modal_time.css">
    <link rel="icon" href="/app/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="menu-icon" id="menuIcon">
                <i class="fas fa-bars"></i>
            </div>
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/" class="dropdown-item"><i class="fas fa-calendar-plus"></i> Записаться</a>
                {% if admin_or_user == 'admin'%}
                <a href="/profile/{{user}}" class="dropdown-item"><i class="fas fa-user-cog"></i> Админ панель</a>
                {% else %}
                <a href="/profile/{{user}}" class="dropdown-item"><i class="fas fa-user"></i> Мой профиль</a>
                {% endif %}
                <a href="/pricelist/{{user}}" class="dropdown-item"><i class="fas fa-tags"></i> Прайс-лист</a>
                <a href="/feedback" class="dropdown-item"><i class="fas fa-star"></i> Отзывы</a>
                <a href="#" class="dropdown-item"><i class="fas fa-envelope"></i> Контакты</a>
                <a href="#" id="logoutButton" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Выйти</a>
            </div>
        </nav>
    </header>
    <main>
        <div id="calendar"></div>
        <button id="book-button" disabled>Выбрать время</button>
    </main>
    <div id="errorPopup" class="error-popup">
        <p>На эту дату нет записи</p>
    </div>

    <!-- Модальное окно -->
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal">
            <button class="modal-close" id="closeModal" style="margin-top: 0px;padding-right: 0px;padding-top: 0px;">&times;</button>
            <h2 class="modal-title">Выберите время</h2>
            <textarea class="comment-box" placeholder="Добавьте комментарий..."></textarea>
            <button class="submit-button" id="submitButton">Записаться</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="/app/static/js/main/main.js"></script>
</body>
</html>

