<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyelasmatun - Прайс-лист</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/app/static/css/main/pricel.css">
    <link rel="icon" href="/app/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="menu-icon" id="menuIcon">
                <i class="fas fa-bars"></i>
            </div>
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/" class="dropdown-item"><i class="fas fa-calendar-plus"></i> Записаться</a>
                {% if admin_or_user == 'admin'%}
                <a href="/profile/{{user}}" class="dropdown-item"><i class="fas fa-user-cog"></i> Админ панель</a>
                {% else %}
                <a href="/profile/{{user}}" class="dropdown-item"><i class="fas fa-user"></i> Мой профиль</a>
                {% endif %}
                <a href="/pricelist/{{user}}" class="dropdown-item"><i class="fas fa-tags"></i> Прайс-лист</a>
                <a href="/feedback/{{user}}" class="dropdown-item"><i class="fas fa-star"></i> Отзывы</a>
                <a href="#" class="dropdown-item"><i class="fas fa-envelope"></i> Контакты</a>
                <a href="#" id="logoutButton" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Выйти</a>
            </div>
        </nav>
    </header>

    <main>
        <h1>Прайс-лист</h1>
        <div class="price-list-container">
            <button id="addItemBtn" class="add-item-btn"><i class="fas fa-plus"></i> Добавить пункт</button>
            <ul id="priceList" class="price-list"></ul>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="/app/static/js/main/pricel.js"></script>
</body>
</html>
