<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyelasmatun - Мой профиль</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/app/static/css/user/user.css">
    <link rel="icon" href="/app/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="menu-icon" id="menuIcon">
                <i class="fas fa-bars"></i>
            </div>
            <div class="dropdown-menu" id="dropdownMenu">
                <a href="/" class="dropdown-item"><i class="fas fa-calendar-plus"></i> Записаться</a>
                <a href="/profile/{{user}}" class="dropdown-item"><i class="fas fa-user"></i> Мой профиль</a>
                <a href="/pricelist/{{user}}" class="dropdown-item"><i class="fas fa-tags"></i> Прайс-лист</a>
                <a href="/feedback/{{user}}" class="dropdown-item"><i class="fas fa-star"></i> Отзывы</a>
                <a href="/contacts" class="dropdown-item"><i class="fas fa-envelope"></i> Контакты</a>
                <a href="#" id="logoutButton" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Выйти</a>
            </div>
        </nav>
    </header>

    <main class="profile-container">
        <h1>Мой профиль</h1>
        <div class="profile-info">
    <div class="profile-field user-id-field">
        <label>ID:</label>
        <span id="userId">{{ id_user }}</span>
    </div>
    <div class="profile-field">
        <label>Имя:</label>
        <div class="input-button-container">
            <input type="text" id="userName" value="{{name_user | escape}}" readonly>
            <button class="edit-button" data-field="userName"><i class="fas fa-pencil-alt"></i></button>
        </div>
    </div>
    <div class="profile-field">
        <label>ТГ:</label>
        <div class="input-button-container">
            <input type="text" id="userTg" value="{{tg_user | escape}}" readonly>
            <button class="edit-button" data-field="userTg"><i class="fas fa-pencil-alt"></i></button>
        </div>
    </div>
    <div class="profile-field">
        <label>Номер телефона:</label>
        <div class="input-button-container">
            <input type="tel" id="userPhone" value="{{number_user | escape}}" readonly>
            <button class="edit-button" data-field="userPhone"><i class="fas fa-pencil-alt"></i></button>
        </div>
    </div>
        <button id="myAppointmentsBtn" class="appointments-button">Мои записи</button>
    </main>

    <div id="appointmentsModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Мои записи</h2>
                <button class="modal-close" id="modalCloseButton">&times;</button>
            </div>
            <div class="modal-body">
                <div id="appointmentsList"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="/app/static/js/user/user.js"></script>
</body>
</html>
