<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyelasmatun - Список клиентов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/admin/clients.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/profile/{{user}}" class="nav-button nav-button-center">Назад</a>
        </nav>
    </header>

    <div class="container">
        <header>
            <input type="text" id="searchInput" placeholder="Поиск по ID, имени, телеграму или телефону">
        </header>
        <main>
            <ul id="clientList"></ul>
        </main>

        <div id="modal" class="modal">
            <div class="modal-content">
                <h3 style="margin-top: 5px; text-align: center;"><span id="clientId"></span></h3>
                <div id="clientInfo">
                    <p>Последний визит на сайт: <span id="lastVisit"></span></p>
                    <p>Последняя запись: <span id="lastAppointment"></span></p>
                    <p>Количество посещений: <span id="visitCount"></span></p>
                    <p>Количество отмен: <span id="cancelCount"></span></p>
                    <p>Статус ЧС: <span id="blacklistStatus"></span></p>
                    <p id="locationInfo" style="display: none;">IP-адрес: <span id="ipAddress"></span>, Страна: <span id="country"></span>, Город: <span id="city"></span></p>
                </div>
                <div class="button-container">
                    <button id="historyButton" class="modal-button">История посещений</button>
                    <button id="closeButton" class="modal-button">Закрыть</button>
                </div>
            </div>
        </div>

        <div id="historyModal" class="modal">
            <div class="modal-content">
                <div class="sort-icons">
                    <div class="sort-icon-wrapper">
                        <i id="sortDate" class="fas fa-calendar-alt sort-icon" data-sort="date" title="Сортировать по дате"></i>
                        <img src="/static/images/sort-svgrepo-com.svg?height=16&width=16" alt="Sort icon" class="sort-direction-icon active">
                    </div>
                    <div class="sort-icon-wrapper">
                        <i id="sortTime" class="fas fa-clock sort-icon" data-sort="time" title="Сортировать по времени"></i>
                        <img src="/static/images/sort-svgrepo-com.svg?height=16&width=16" alt="Sort icon" class="sort-direction-icon active">
                    </div>
                    <div class="sort-icon-wrapper">
                        <i id="sortMoney" class="fas fa-dollar-sign sort-icon" data-sort="money" title="Сортировать по деньгам"></i>
                        <img src="/static/images/sort-svgrepo-com.svg?height=16&width=16" alt="Sort icon" class="sort-direction-icon active">
                    </div>
                </div>
                <h3 style="margin-top: 5px; text-align: center;">История посещений</h3>
                <table id="historyTable">
                    <thead>
                        <tr>
                            <th id="dateHeader" class="sortable" data-sort="date">Дата <i class="fas fa-sort"></i></th>
                            <th id="timeHeader" class="sortable" data-sort="time">Время <i class="fas fa-sort"></i></th>
                            <th id="commentHeader">Комментарий</th>
                            <th id="moneyHeader" class="sortable" data-sort="money">Деньги <i class="fas fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody id="historyTableBody"></tbody>
                </table>
                <div class="button-container">
                    <button id="closeHistoryButton" class="modal-button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="/static/js/admin/clients.js"></script>
</body>
</html>

