<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyelasmatun - Добавить в ЧС</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/static/css/admin/user-slash.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/profile/{{user}}" class="nav-button nav-button-center">Назад</a>
        </nav>
    </header>

    <div class="container">
        <header>
            <input type="text" id="searchInput" placeholder="Поиск по ID">
        </header>
        <main>
            <ul id="clientList"></ul>
        </main>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <h3 style="margin-top: 5px; text-align: center;"><span id="clientId"></span></h3>
            <div class="button-container">
                <button id="sendButtonBL">Добавить в ЧС</button>
                <button id="sendButton">Отмена</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="/static/js/admin/user-slash.js"></script>
</body>
</html>